#title{
    justify-content: center;
    background-color:black;
    text-align: center;
    color: tomato;
    margin-left: 200px;
    margin-right: 200px;
}
#display{
    justify-content: center;
    color:darkcyan;
    text-align: center;
    border: 3px solid white;
    border-radius: 10px; 
    width: 350px;
    height: 30px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
}
body{
    background-color: darkorange;
}
.box{
    width: 70px;
    height: 70px;
    background: tomato;
    display: flex;
    margin: 1px 1px 1px 1px;
    justify-content: center;
    align-items: center;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.1px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

button{
    width: 280px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}